<div class="jumbotron text-center">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Initial Layout</h3>
            <p>
                The layout on this page is one largish title section
                with three columns side-by-side underneath it.
            </p>
            <p>
                As it is, it's pretty typical.
            </p>
        </div>
        <div class="col-sm-4">
            <h3>Resize Layout</h3>
            <p>
                After changing the size of the page to be smaller, the
                layout <mark>changes</mark> so that the columns are on top of each
                other.
            </p>
            <p>
                In addition, the font size of the h1 tag shrinks.
            </p>
        </div>
        <div class="col-sm-4">
            <h3>CSS classes used</h3>
            <p>
                The "<code>container</code>" class that contains the row and three
                columns is a fixed-width container that only encompasses
                part of the page, compared to the "<code>container-fluid</code>"
                class that will always span the width of the page.
            </p>
            <p>
                The "<code><abbr title="column">col</abbr>-sm-4</code>" class, used in conjunction with the row
                class, indicates several things about the page layout.
                The "sm" portion indicates that these columns are optimized
                for tablet use. The "4" portion indicates how much relative
                space each column will take up. Since each div uses the
                same number, they will take up an equal amount of space.
                Note that the numbers of all the columns in a row
                <span class="text-danger">must add up to 12.</span>
            </p>
        </div>
    </div>
</div>